<a class="title" name="components-alerts" href="#components-alerts"
  ><h3>Alerts</h3></a
>
<p>
  Alerts can be used with any length of text and alerts can contain also links.
  Dismissable alerts are not available. Bellow is listed all implemented
  variations:
</p>
<div class="example-container">
  <div class="items">
    <div class="fd-alert fd-primary">This is a primary alert!</div>
    <div class="fd-alert fd-success">This is a success alert!</div>
    <div class="fd-alert fd-danger">
      This is a danger alert!
      <a href="#">Alerts can contain also links.</a>
    </div>
  </div>
  <pre>
              <code class="html">
&lt;div class="fd-alert fd-primary"&gt;This is a primary alert!&lt;/div&gt;
&lt;div class="fd-alert fd-danger"&gt;This is a success alert!&lt;/div&gt;
&lt;div class="fd-alert fd-danger"&gt;This is a danger alert! &lt;a href="#"&gt;Alerts can contain also links.&lt;/a&gt; &lt;/div&gt;
              </code>
          </pre>
</div>
