<a class="title" name="components-buttons" href="#components-buttons"
  ><h3>Buttons</h3></a
>
<p>Fairdata component library defines some predefined button styles:</p>
<div class="example-container">
  <p>Regular buttons:</p>
  <div class="items">
    <button class="fd-button fd-primary">Success</button>
    <button class="fd-button fd-success">Success</button>
    <button class="fd-button fd-danger">Danger</button>
    <button class="fd-button fd-success fd-disabled">Disabled</button>
  </div>
  <pre><code class="html">
&lt;button class="fd-button fd-primary"&gt;fd-primary&lt;/button&gt;
&lt;button class="fd-button fd-success"&gt;fd-success&lt;/button&gt;
&lt;button class="fd-button fd-danger"&gt;fd-danger&lt;/button&gt;
&lt;button class="fd-button fd-success disabled"&gt;Disabled&lt;/button&gt;
          </code></pre>
  <p>
    All variations can be used as outline button with
    <code>fd-outline-</code> class prefix:
  </p>
  <div class="items">
    <button class="fd-button fd-outline-primary">Success</button>
    <button class="fd-button fd-outline-success">Success</button>
    <button class="fd-button fd-outline-danger">Danger</button>
    <button class="fd-button fd-outline-success fd-disabled">Disabled</button>
  </div>
  <pre><code class="html">
&lt;button class="fd-button fd-outline-primary"&gt;Primary&lt;/button&gt;
&lt;button class="fd-button fd-outline-success"&gt;Success&lt;/button&gt;
&lt;button class="fd-button fd-outline-danger"&gt;Danger&lt;/button&gt;
&lt;button class="fd-button fd-outline-success fd-disabled"&gt;Disabled&lt;/button&gt;
          </code></pre>
  <p>
    A button can be disabled by adding <code>fd-disabled</code> class to it.<br />
    Padding can be increased by adding <code>fd-large</code> class to ay button
  </p>
  <div class="items">
    <button class="fd-button fd-success fd-large">Success large</button>
  </div>
  <pre><code class="html">
&lt;button class="fd-button fd-success large"&gt;Success large&lt;/button&gt;
          </code></pre>
</div>