<a class="title" name="components-footer" href="#components-footer"
  ><h3>Footer</h3></a
>
<p>
  Fairdata component library defines a sample footer to be used in Fairdata
  services. An example of footer can be found in the end of this documentation
  page. Footer is designed to fold properly across all screen widths.
</p>
<p>
  Footer should be placed in the end of page. For layout to work properly
  footer, header and container should be inside an element with
  <code>display: flex;</code> and <code>flex-direction: column;</code>, as well
  with width and height of 100% related to the body.
</p>
<p>
  Footer styles can be used independently from other Fairdata styles. Note that
  footer requires to have Bootstrap grid system, which is not included in the
  standalone verion of footer styles. Footer styles can be included form
  <code>dist/footer.css</code> and can be built with
  <code>npm run gulp -- sass-footer</code>
</p>
<p class="fd-alert fd-primary">
  Official translations for footer texts are defined bellow and should be used
  if context is localized
</p>

<div class="example-container">
  <strong>English:</strong>
  <p>FAIRDATA</p>
  <p>
    The Fairdata services are offered by the
    <strong>Ministry of Education and Culture</strong> and produced by<strong>
      CSC – IT Center for Science Ltd.</strong
    >
  </p>
  <p>INFORMATION</p>
  <p>
    <a href="https://www.fairdata.fi/en/terms-and-policies/" target="_blank"
      >Terms and Policies</a
    >
  </p>
  <p>
    <a href="https://www.fairdata.fi/en/contracts-and-privacy/" target="_blank"
      >Contracts and Privacy</a
    >
  </p>
  <p>ACCESSIBILITY</p>
  <p>
    <a href="https://www.fairdata.fi/en/accessibility/" target="_blank"
      >Accessibility statement</a
    >
  </p>
  <p>CONTACT</p>
  <p><a href="mailto:servicedesk@csc.fi">servicedesk@csc.fi</a></p>
  <p>FOLLOW</p>
  <p>
    <a href="https://twitter.com/Fairdata_fi" target="_blank">Twitter</a>
  </p>
  <p>
    <a href="https://www.fairdata.fi/en/news/" target="_blank">What's new</a>
  </p>
  <br />
  <br />
  <strong>Finnish:</strong>
  <p>FAIRDATA</p>
  <p>
    Fairdata-palvelut järjestää
    <strong>opetus- ja kulttuuriministeriö </strong> ja toimittaa
    <strong>CSC – Tieteen tietotekniikan keskus Oy</strong>
  </p>
  <p>TIETOA</p>
  <p>
    <a href="https://www.fairdata.fi/kayttopolitiikat-ja-ehdot/" target="_blank"
      >Käyttöpolitiikat ja ehdot</a
    >
  </p>
  <p>
    <a href="https://www.fairdata.fi/sopimukset/" target="_blank"
      >Sopimukset ja tietosuoja</a
    >
  </p>
  <p>SAAVUTETTAVUUS</p>
  <p>
    <a href="https://www.fairdata.fi/saavutettavuus/" target="_blank"
      >Saavutettavuus</a
    >
  </p>
  <p>OTA YHTEYTTÄ</p>
  <p><a href="mailto:servicedesk@csc.fi">servicedesk@csc.fi</a></p>
  <p>SEURAA</p>
  <p>
    <a href="https://twitter.com/Fairdata_fi" target="_blank">Twitter</a>
  </p>
  <p>
    <a href="https://www.fairdata.fi/ajankohtaista/" target="_blank">Uutiset</a>
  </p>
  <br />
  <br />
  <strong>Swedish:</strong>
  <p>FAIRDATA</p>
  <p>
    Fairdata-tjänsterna erbjuds av
    <strong>ministeriet för utbildning och kultur</strong> och produceras av
    <strong>CSC - IT Center for Science Ltd.</strong>
  </p>
  <p>INFORMATION</p>
  <p>
    <a href="https://www.fairdata.fi/en/terms-and-policies/" target="_blank"
      >Villkor och policyer</a
    >
  </p>
  <p>
    <a href="https://www.fairdata.fi/en/contracts-and-privacy/" target="_blank"
      >Kontrakt och integritet</a
    >
  </p>
  <p>TILLGÄNGLIGHET</p>
  <p>
    <a href="https://www.fairdata.fi/en/accessibility/" target="_blank"
      >Tillgänglighet uttalande</a
    >
  </p>
  <p>KONTAKT</p>
  <p><a href="mailto:servicedesk@csc.fi">servicedesk@csc.fi</a></p>
  <p>FÖLJ</p>
  <p>
    <a href="https://twitter.com/Fairdata_fi" target="_blank">Twitter</a>
  </p>
  <p>
    <a href="https://www.fairdata.fi/en/news/" target="_blank">Nyheter</a>
  </p>
</div>

<div class="example-container">
  <p class="fd-alert fd-primary">
    If you prefer to use a four column footer instead of five columns, you need
    to update the column widths. The sum of widths and offsets should be equal
    to 12 on every breakpoint.
  </p>
  <pre><code class="html">
&lt;div class="fd-footer container-fluid"&gt;
&lt;div class="row no-gutters"&gt;
  &lt;div class="col col-lg-4 col-md-12 col-sm-12 col-12"&gt;
      &lt;span&gt;Fairdata&lt;/span&gt;
      &lt;p&gt;
          The Fairdata services are offered by the &lt;strong&gt;Ministry of Education and Culture&lt;/strong&gt; and produced by&lt;strong&gt; CSC – IT Center for Science Ltd.&lt;/strong&gt;
      &lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="col padding-right col-lg-2 col-md-3 col-sm-6 offset-lg-1"&gt;
      &lt;span&gt;Information&lt;/span&gt;
      &lt;p&gt;&lt;a href="https://www.fairdata.fi/en/terms-and-policies/" target="_blank"&gt;Terms and Policies&lt;/a&gt;&lt;/p&gt;
      &lt;p&gt;&lt;a href="https://www.fairdata.fi/en/contracts-and-privacy/" target="_blank"&gt;Contracts and Privacy&lt;/a&gt;&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="col padding-right col-lg-2 col-md-3 col-sm-6 col-6"&gt;
      &lt;span&gt;Accessibility&lt;/span&gt;
      &lt;p&gt;&lt;a href="https://www.fairdata.fi/en/accessibility/" target="_blank"&gt;Accessibility statement&lt;/a&gt;&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="col col-lg-2 col-md-3 col-sm-6 col-6"&gt;
      &lt;span&gt;Contact&lt;/span&gt;
      &lt;p&gt;&lt;a href="mailto:servicedesk@csc.fi"&gt;servicedesk@csc.fi&lt;/a&gt;&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="col col-lg-1 col-md-3 col-sm-6 col-6"&gt;
      &lt;span&gt;Follow&lt;/span&gt;
      &lt;p&gt;&lt;a href="https://twitter.com/Fairdata_fi" target="_blank"&gt;Twitter&lt;/a&gt;&lt;/p&gt;
      &lt;p&gt;&lt;a href="https://www.fairdata.fi/en/news/" target="_blank"&gt;What's new&lt;/a&gt;&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
          </code></pre>
</div>