<a class="title" name="components-links" href="#components-links"
  ><h3>Links</h3></a
>
<p>Fairdata components include two text link styles:</p>

<div class="example-container">
  <p><i>Content link</i> styling is used for links that appear within a paragraph of text or are otherwise assiciate with body text and thus receive the styling</p>
  <div class="items">
    <a href="https://www.fairdata.fi" class="fd-link fd-link-content">This is a content link</a>
  </div>
  <pre>
    <code class="html">
      &lt;a href="https://www.fairdata.fi" class="fd-link fd-link-content"&gt;This is a content link&lt;/a&gt;
    </code>
  </pre>
  <p><i>Footer link</i> styling is used in the page footer to render lists of links to resources external to the given page context.</p>
  <div class="items">
    <a href="https://www.fairdata.fi" class="fd-link fd-link-footer">This is a footer link</a>
  </div>
  <pre>
    <code class="html">
      &lt;a href="https://www.fairdata.fi" class="fd-link fd-link-footer"&gt;This is a footer link&lt;/a&gt;
    </code>
  </pre>
</div>
