.fd-alert {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1rem 2rem;

    @each $color, $value in $fd-colors {
        &.fd-#{$color} {
          @include alert-variant($color);
        }
    }
}