.fd-button {
    padding: 10px 30px;
    border: 0;
    color: white;
    transition: background-color .1s linear;
    cursor: pointer;

    &.fd-large {
        padding: 15px 45px;
    }

    &.fd-disabled {
      opacity: .65;
      cursor: not-allowed;
    }

    @each $color, $value in $fd-colors {
        &.fd-#{$color} {
          @include button-variant($value);
        }
    }

    @each $color, $value in $fd-colors {
        &.fd-outline-#{$color} {
          @include button-outline-variant($value);
        }
    }
}