.fd-content {
    width: 90%;
    max-width: 950px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    flex: 1 0 auto;

    @media screen and (max-width: #{map-get($grid-breakpoints, "sm")}) {
        margin-top: 1rem;
        padding: 0 2rem !important;
    }
}