.cookies-banner {
    display: none;
    position: fixed;
	bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #F3F2F1;
    padding: 1rem 3rem;
    align-items: center;
    justify-content: center;

    .actions { flex-grow: 0; }

    .text-content {
        flex-grow: 3;
        max-width: 800px;
        margin-right: 2rem;
    }

    button {
        border: 0;
        width: 50px;
        height: 50px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        background-color: map-get($fd-colors, "success");
        transition: background-color .1s linear;
        &:hover{
          background-color: darken(map-get($fd-colors, "success"), 10);
        }
    }
}
