.fd-footer {
    width: 100%;
    height: auto;
    padding: 1rem 4rem !important;
    box-shadow: 0px -3px 5px #EFEFEFEB;
    flex-shrink: 0;
    font-size: 16px;
    color: $color-muted;

    @media screen and (max-width: #{map-get($grid-breakpoints, "lg")}) {
        padding: 0 2rem 1rem 2rem !important;
    }

    a {
        color: $color-muted;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        @extend .text-uppercase;
        display: block;
        margin-bottom: .3rem;
        @media screen and (max-width: #{map-get($grid-breakpoints, "lg")}) {
            margin-top: 1rem;
        }
    }

    p {
        margin-top: .1rem;
        margin-bottom: 0;
    }

    .row {
        width: 100%;

        .padding-right {
            padding-right: .75rem;
        }
    }
}