.fd-header {
    width: 100%;
    min-height: 100px;
    background-color: white;
    box-shadow: 0px 3px 5px #EFEFEF;
    display: flex;
    justify-content: center;
    padding: 0 3rem !important;

    @media screen and (max-width: #{map-get($grid-breakpoints, "sm")}) {
        padding: 0 1.5rem !important;
    }

    .row {
        width: 100%;
        align-content: center;
    }

    .logo {
        max-width: 320px;
        width: 90%;
    }

    .language-selector-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .language-selector-container {
            width: 100px;
            display: flex;
            justify-content: space-around;

            .language-choice {
                cursor: pointer;
                text-transform: uppercase;
            }
        }
    }
}