.fd-link {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;

  &-content {
    color: $color-link;
  }
  
  &-footer {
    color: $color-muted;
  }
  
  &:hover {
    text-decoration: underline;
  }
}
