.notification-banner {
    display: flex;
    position: fixed;
	bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #F3F2F1;
    padding: 1rem 3rem;
    align-items: center;
    justify-content: center;

    .actions { flex-grow: 0; }

    .text-content {
        flex-grow: 3;
        max-width: 800px;
        margin-right: .5rem;
    }

    button {
        border: 0;
        padding: 0;
        width: 35px;
        height: 35px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        color: black;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid black;
        transition: all .2s linear;
        transition-property: background-color, color, border;
        &:hover{
            background-color: map-get($fd-colors, "success");
            color: white;
            border: 0;
        }
    }
}
