.notification-banner {
    display: flex;
    position: fixed;
	bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #F3F2F1;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;

    .actions {
        font-family: Arial, Helvetica, sans-serif;
        flex-grow: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        cursor: pointer;

        svg {
            position: absolute;
            transition: opacity .15s linear;
        }

        #closeHover { opacity: 0; }

    }

    .text-content {
        flex-grow: 3;
        max-width: 630px;
        margin-right: .3rem;
    }
}
